[worldserver]

########################################
# 		Mod-ChangeableSpawnRates
########################################
#
#	Module.Enabled
#		Description: Enable/Disable the module
#
#       Default:     1 - Enabled
#                    0 - Disabled
#

Module.Enable = 1

#
#	Module.RespawnMultiplicator
#		Description: Sets the respawnfactor. This factor will be used when dynamic spawnrates is disabled.
#			E.g. an Enemy has a default respawn time of 1 min. 
#			When the factor has a value of 2.0 the respawntime gets doubled.
#			When the factor has a value of 0.5 the respawntime gets halfed.
#			That means, higher values increases the respawntimes, lower values decreases the respawntimes. 
#
#		Default:	1.0 - Default Respawntimes
#		

Module.RespawnMultiplicator = 1.0

#
#	Module.Announce.Enable
#		Description: Enable/Disable for module-announcement at players-login
#		
#		Default:	1 - Enabled
#					0 - Disabled
#

Module.Announce.Enable = 1

#
#	Module.DynamicSpawnrates.Enable
#		Description: Enable/Disable to toggle the use of dynamic spawnrates.
#			If enabled the spawnfactor will calculated by count of active players 
#			E.g. 	1 active player, 	factor = 1.00 	spawntime: 60.00s (default)
#				 	2 active player, 	factor = 0.99	spawntime: 59.40s
#				 	3 active player, 	factor = 0.98, 	spawntime: 58.80s 
#				 	x active player, 	factor = 0.50, 	spawntime: 30.00s
#				 	x+1 active player, 	factor = 0.498, spawntime: 29.88s
#				 	x+2 active player, 	factor = 0.496, spawntime: 29.76s
#				 	x+3 active player, 	factor = 0.494, spawntime: 29.64s
#
#		Default:	0 - Disabled
#					1 - Enabled
#

Module.DynamicSpawnrates.Enable = 0

#
#	Module.DynamicSpawnrates.IgnoreMinimum
#		Description: Enable/Disable to set whether the factor minimum set in the config will used as minimal factor
#			If enabled the factor of 0.01 will be used as minimal factor
#			If disabled the factor set in the config in Module.DynamicSpawnrates.Minimum will be used as minimal factor
#
#		Default:	0 - Disabled		
#					1 - Enabled
#

Module.DynamicSpawnrates.IgnoreMinimum = 0

#
#	Module.DynamicSpawnrates.Minimum
#		Description: Sets the spawn-factor minimum
#			This means, the spawnfactor can't get under this value
#
#		Default:	0.5
#

Module.DynamicSpawnrates.Minimum = 0.5

#
#	Module.MinimumSpawntime
#		Description: Sets the allowed spawntime minimum
#			This means, the spawntime of a creature can't get under this value (in seconds)
#
#		Default:	5.0
#

Module.MinimumSpawntime = 5.0